@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/_root";
@import "bootstrap/scss/_reboot";
@import "bootstrap/scss/_type";
@import "bootstrap/scss/_images";
@import "bootstrap/scss/_code";
@import "bootstrap/scss/_grid";
@import "bootstrap/scss/_tables";
@import "bootstrap/scss/_forms";
@import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_transitions";
@import "bootstrap/scss/_dropdown";
@import "bootstrap/scss/_button-group";
@import "bootstrap/scss/_input-group";
@import "bootstrap/scss/_custom-forms";
@import "bootstrap/scss/_nav";
@import "bootstrap/scss/_navbar";
@import "bootstrap/scss/_card";
@import "bootstrap/scss/_breadcrumb";
@import "bootstrap/scss/_pagination";
@import "bootstrap/scss/_badge";
@import "bootstrap/scss/_jumbotron";
@import "bootstrap/scss/_alert";
@import "bootstrap/scss/_progress";
@import "bootstrap/scss/_media";
@import "bootstrap/scss/_list-group";
@import "bootstrap/scss/_close";
@import "bootstrap/scss/_utilities";
@import "bootstrap/scss/_print";

body {
  background-color: black;
  color: white;
}

.weather {
  text-align: right;
  p {
    margin: 0;
  }
}

.forecast {
  margin: 2px 0 2px 0;

  .day-date {
    background-color: #e67300;
  }

  .temperature {
    background-color: green;

    p {
      margin-top: 1.3rem;
    }
  }
}

.wh {
  b, em {
    padding: 5px;
  }

  b {
    background-color: #e67300;
  }

  em {
    background-color: green;
  }
}

.task {
  background-color: #e67300;
  margin: 4px 0 4px 0;
  p {
    margin-bottom: 5px;
  }

  .date {
    b {
      background-color: green;

      em:first-child {
        background-color: red;
        padding: 3px;
      }
    }

    b:first-child {
      float: left;
    }

    b:last-child {
      float: right;
    }
  }

}

.news {
  background-color: #1f1d1d;

  .newsLong {
    height: 100vh;
    overflow: hidden;
  }

  .newsShort {
    height: 50vh;
    overflow: hidden;
  }

  .radio {
    height: 50vh;
  }
}

.newsSingle {
  background-color: green;
  margin: 4px 0 4px 0;
  padding: 5px 10px;

  p {
    margin: 0;
  }
  em {
    text-align: right;
    display: block;
  }
}
