@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/_root";
@import "bootstrap/scss/_reboot";
@import "bootstrap/scss/_type";
@import "bootstrap/scss/_images";
@import "bootstrap/scss/_code";
@import "bootstrap/scss/_grid";
@import "bootstrap/scss/_tables";
@import "bootstrap/scss/_forms";
@import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_transitions";
@import "bootstrap/scss/_dropdown";
@import "bootstrap/scss/_button-group";
@import "bootstrap/scss/_input-group";
@import "bootstrap/scss/_custom-forms";
@import "bootstrap/scss/_nav";
@import "bootstrap/scss/_navbar";
@import "bootstrap/scss/_card";
@import "bootstrap/scss/_breadcrumb";
@import "bootstrap/scss/_pagination";
@import "bootstrap/scss/_badge";
@import "bootstrap/scss/_jumbotron";
@import "bootstrap/scss/_alert";
@import "bootstrap/scss/_progress";
@import "bootstrap/scss/_media";
@import "bootstrap/scss/_list-group";
@import "bootstrap/scss/_close";
@import "bootstrap/scss/_utilities";
@import "bootstrap/scss/_print";

body {
  background-color: black;
  color: white;
}

.wh {

  .company, .time {
    background-color: green;
  }
}

.task {
  background-color: #e67300;
  margin: 1rem 0 1rem 0;
  padding: 1rem;

  em {
    background-color: blue;
  }

  .dueto {
    display: block;
    text-align: right;
  }
}

.news {
  background-color: #1f1d1d;

  .newsLong {
    height: 100vh;
    overflow: hidden;
  }

  .newsShort {
    height: 50vh;
    overflow: hidden;
  }

  .radio {
    height: 50vh;
  }
}

.newsSingle {
  background-color: green;
  margin: 1rem 0 1rem 0;
  padding: 1rem;

  p {
    margin: 0;
  }
  em {
    text-align: right;
    display: block;
  }
}
